/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #0b1332 #050c0f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #050c0f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0b1332;
    border-radius: 10px;
    border: 3px solid #0b0a0a;
  }